Source: bingwallpaper
Section: misc
Priority: extra
Maintainer: Nishant Arora <me@nishantarora.in>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Version: 0.5-1

Package: bingwallpaper
Architecture: all
Depends: ${misc:Depends}, curl (>=7.29.0)
Description: Sets Bing picture of the day as your current wallpaper.
