Package: bingwallpaper
Version: 0.4-1
Architecture: all
Maintainer: Nishant Arora <me@nishantarora.in>
Installed-Size: 32
Depends: curl (>= 7.29.0)
Section: misc
Priority: extra
Description: Bing Wallpaper
 Sets Bing picture of the day as your current wallpaper everytime you log in.
